$bg-container: linear-gradient(90deg, #0f172a, #581c87, #0f172a);
$bg-header: rgba(0, 0, 0, 0.2);
$color-primary: #c084fc;
$color-secondary: #ffffff1a;
$color-tertiary: linear-gradient(to right, #c084fc, #f472b6);
$color-fourth: #d1d5db;
$color-fifth: #9ca3af;
